version: "3.8"
# docker compose --env-file .env up --build site --force-recreate
networks:
  wp_deploy:
volumes:
  database:
  # Prevent anonymous volumes from accumulating.
  nginx_cache:
  nginx_run:
  db_run:
  plugins_themes:
    external: true
services:
  nginx:
    build:
      context: ../openshift/templates/images/nginx/docker
    ports:
      - 80:80
      - 443:443
    links:
      - wordpress-php-fpm
    depends_on:
      - wordpress-php-fpm
      - db
    networks:
      - wp_deploy
    volumes:
      - nginx_cache:/var/cache/nginx
      - nginx_run:/var/run
      - type: bind
        source: ../openshift/templates/images/nginx/docker/local-dev.conf
        target: /etc/nginx/conf.d/default.conf
      - ./certs/nginx/ssl:/etc/ssl/certs:ro
    volumes_from:
      - wordpress-php-fpm:rw
  wp-cli:
    image: wordpress:cli-php7.4
    volumes_from:
      - wordpress-php-fpm:rw
    networks:
      - wp_deploy
    depends_on:
      - wordpress-php-fpm
    command: tail -f /dev/null
    environment:
      WORDPRESS_DB_HOST: ${MYSQL_HOST}
      WORDPRESS_DB_USER: ${MYSQL_USER}
      WORDPRESS_DB_PASSWORD: ${MYSQL_PASSWORD}
      WORDPRESS_DB_NAME: ${MYSQL_DATABASE}
      WORDPRESS_MULTISITE: ${MULTISITE}
      WORDPRESS_CONFIG_EXTRA: |
        /* Multisite */
        define( 'WP_ALLOW_MULTISITE', true );
        define( 'MULTISITE', !!filter_var( getenv_docker( 'WORDPRESS_MULTISITE', '0' ), FILTER_VALIDATE_BOOLEAN ) );
        define( 'DOMAIN_CURRENT_SITE', '${DOMAIN_CURRENT_SITE}' );
  db:
    build:
      context: ../openshift/templates/images/mariadb/docker
    logging:
      driver: none
    environment:
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
    volumes:
      - db_run:/var/run
      - ${DB_VOLUME:-database}:/var/lib/mysql
    networks:
      - wp_deploy
    ports:
      - 3306:3306
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    links:
      - db
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
      PMA_ARBITRARY: 1
      PMA_USER: root
      PMA_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    networks:
      - wp_deploy
    ports:
      - ${MYADMIN_PORT:-8081}:80
  wordpress-php-fpm:
    user: www-data:www-data
    deploy:
      resources:
        limits:
          cpus: '2'
          memory: 500M
        reservations:
          cpus: '0.5'
          memory: 100M
    build:
      context: ../openshift/templates/images/wordpress/docker
    environment:
      WORDPRESS_DB_HOST: ${MYSQL_HOST}
      WORDPRESS_DB_USER: ${MYSQL_USER}
      WORDPRESS_DB_PASSWORD: ${MYSQL_PASSWORD}
      WORDPRESS_DB_NAME: ${MYSQL_DATABASE}
      WORDPRESS_DEBUG: ${WORDPRESS_DEBUG:-1}
      WORDPRESS_MULTISITE: ${MULTISITE}
      WORDPRESS_DOMAIN_CURRENT_SITE: ${DOMAIN_CURRENT_SITE}
      WORDPRESS_CONFIG_EXTRA: |
        /* Multisite */
        define( 'WP_ALLOW_MULTISITE', true );
        define( 'MULTISITE', !!filter_var( getenv_docker( 'WORDPRESS_MULTISITE', '0' ), FILTER_VALIDATE_BOOLEAN ) );
        define( 'DOMAIN_CURRENT_SITE', '${DOMAIN_CURRENT_SITE}' );
        /* For Active Directory Integration on Multisite. */
        define( 'IS_WPMU', true );
        /* Other configs */
        define( 'WP_DEBUG_LOG', true );
    ports:
      - 9000:9000
    volumes:
      - /var/www/html
      - plugins_themes:/var/www/html/wp-content/plugins:rw
      - ${CONTENT_DIR}:/var/www/html/wp-content/
      - ${TEMP_DIR:-~/tmp/WordPress}:/tmp/WordPress:rw
    networks:
      - wp_deploy
    depends_on:
      - db
